.header {
    background-color: #2c3e50;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
}

.logo-text {
    position: absolute;
    left: 100px;
    bottom: 30px;

}

.icon-text {
    margin-left: 10px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-right: 10px;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 200px;
}

.search input[type="text"] {
    border: none;
    outline: none;
    width: 500px;
    padding: 5px;
}

.search button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: #2c3e50;
    font-size: 20px;
    margin-top: 3px;
}

.search button:focus {
    outline: none;
}

.search button:hover {
    color: #ff8a65;
}